# MLP Graded assignment Week 1.2
Importing necessary Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Loading The data into pandas dataframe

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Shape of data for validation

In [4]:
dataset = pd.read_csv('/content/drive/MyDrive/V5.csv')
dataset.shape

(10000, 12)

1. Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [5]:
df=(dataset.loc[0::2])
df.loc[0:4:1]
print(df.iloc[0,3])

111440.0

2. Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [6]:
df=(dataset.loc[0::2])
df.loc[664:666:1]
print(df.iloc[332,3])

256200.0

3. Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter
  If it is a string don't write quotes in the solution.

In [7]:
df=(dataset.loc[1::2])
df.loc[665:669:1]
print(df.iloc[332,3])

352940.0

4. Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [8]:
df=(dataset.loc[1::2])
df.loc[201:205:1]
print(df.iloc[100,5])

Single Family

5. Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [9]:
df = (dataset.loc[::2,::2])

print(df.iloc[255,3])

Detached House

In [10]:
dataset

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

6. Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [11]:
dataset.query("Year==[2017,2018, 2019, 2020, 2021,2022] ").shape[0]

4749

7. Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [12]:

dataset.query("num_rooms == 3 & num_bathrooms == 3 ").shape[0]

2730

8. Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [13]:
dataset.query("num_rooms == 3 or num_bathrooms == 3 ").shape[0]

8591

9. In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [24]:
dataset.query("Year == 2022 & Locality == 'Greenwich' & num_rooms == 3 & (Face == 'North' or Face == 'East') " ).shape[0]

42

10. Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [31]:
dataset['Month'] = pd.DatetimeIndex(dataset['Date']).month

dataset.query("Month == 8 ").shape[0]

1050

11. According to the data which Locality have highest average Sale Price?

In [36]:
avg_price = dataset.groupby('Locality')['Sale Price'].agg(np.mean)
avg_price.idxmax

<bound method Series.idxmax of Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64>